## Managed by infra repo
logfile = /var/log/i2pd/i2pd.log
loglevel = error
port = {{ current_instance.port if current_instance.port else common.port }}
ipv4 = true
ipv6 = false
bandwidth = {{ current_instance.bandwidth if current_instance.bandwidth else common.bandwidth }}
floodfill = true
