[Service]
AllowedCPUs={{ current_instance.cpu_count if current_instance.cpu_count else common.cpu_count }}
CPUQuota={{ current_instance.cpu_quota if current_instance.cpu_quota else common.cpu_quota }}
