[Unit]
Description={{ basename }} container

[Container]
Image={{ current_instance.image if current_instance.image else common.image }}
ContainerName={{ basename }}
Pod={{ basename }}.pod
Exec=-D /var/lib/{{ basename }} -C /etc/{{ basename }}/ run
AutoUpdate=registry
Volume={{ current_instance.volume_path if current_instance.volume_path else common.volume_path }}/settings:/etc/{{ basename }}:ro
Volume={{ current_instance.volume_path if current_instance.volume_path else common.volume_path }}/cache:/var/lib/{{ basename }}/cache
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/ssl/certs/{{ common.domain }}.crt:/etc/ssl/certs/{{ common.domain }}.crt:ro
Volume=/etc/ssl/private/{{ common.domain }}.key:/etc/ssl/private/{{ common.domain }}.key:ro

Label=traefik.enable=true
Label=traefik.tcp.routers.{{ basename }}_prx.entryPoints=https
Label=traefik.tcp.routers.{{ basename }}_prx.rule=HostSNI(`{{ current_instance.reality.server_name }}`)
Label=traefik.tcp.routers.{{ basename }}_prx.service={{ basename }}_prx
Label=traefik.tcp.routers.{{ basename }}_prx.tls=true
Label=traefik.tcp.services.{{ basename }}_prx.loadbalancer.server.port=8443
Label=traefik.tcp.routers.{{ basename }}_prx.tls.passthrough=true

[Service]
Restart=always
[Install]
WantedBy=multi-user.target
