[Unit]
Description=whitelist-bypass bot
Requires={{ basename }}.pod
After={{ basename }}.pod
After={{ basename }}.container

[Container]
Image={{ wlb.image | default('ghcr.io/kulikov0/whitelist-bypass-bot:latest') }}
ContainerName={{ basename }}-wlb
Pod={{ basename }}.pod
Environment=VK_TOKEN={{ wlb.VK_TOKEN }}
Environment=VK_GROUP_ID={{ wlb.VK_GROUP_ID }}
Environment=TM_COOKIES=/data/cookies-yandex.json
Environment=RESOURCES={{ wlb.RESOURCES | default('default') }}
Environment=UPSTREAM_SOCKS=127.0.0.1:1080
{% if wlb.VK_USER_IDS %}
Environment=VK_USER_IDS={{ wlb.VK_USER_IDS }}
{% endif %}
Volume={{ volume_path }}/cookies/cookies-yandex.json:/data/cookies-yandex.json:ro
Volume={{ volume_path }}/wlb-sessions:/data/sessions:U
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
